.main {
  .home {
    background-color: var(--pattern);

    .grid {
        max-width: 1240px; 
        margin: 0 auto;
        padding: 0 1rem;
        height: 53rem;
    }

    .contentHome {
      width: 100%;
      height: 53rem;

      display: flex;
      align-items: center;
      justify-content: space-between;


      .here {
        max-width: 680px;
        line-height: 1.7;

        span {
          font-size: 1.2rem;
          color: var(--white-300);
        }

        h2 {
          font-size: 2.7rem;
        }

        p {
          font-size: 1.3rem;
        }

        .typeWriter {
          margin-top: -0.5rem;
          margin-bottom: 0.4rem;
          font-family: monospace;
        }

        a {
          border: 1px solid rgba(102, 16, 242, 0.5);
          background: linear-gradient(225deg, rgba(102, 16, 242, 0.3) 0%, rgba(102, 16, 242, 0) 100%);
          border-radius: 3px;
          padding: 20px 64px;
          font-size: 18px;
          color: var(--white);
          transition: all 0.7s ease;
        }

        a:hover {
          padding: 20px 89px;
          transition: all 0.7s ease;
          background: linear-gradient(225deg, rgba(102, 16, 242, 0.6) 0%, rgba(102, 16, 242, 0) 100%);
        }
      }

      @keyframes float {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-30px);
        }
        100% {
            transform:  translateY(0);
        }
    }

    .image {
      margin-top: -3.5rem;
      animation: float 5s ease-in-out infinite;
      padding: 0;

      @media (max-width: 904px) {
        display: none;
      }
    }

    @media (max-width: 904px) {
      justify-content: center;
      text-align: center;
    }
  }
}

//Quem sou configuracoes

  .who {
    background-color: #110e1b;
    height: 30rem;

    .grid {
      max-width: 1240px; 
      margin: 0 auto;
      padding: 0 1rem;
  }

  .content {
    display: flex;
    align-items: center;
    height: 30rem;


    img {
      border-radius: 50%;
      width: 300px;
      margin-right: 2.5rem;
      position: relative;
      padding: 10px;

      @media (max-width: 920px) {
        display: none; 
      }
    }


    .textwho {
      max-width: 700px;
      line-height: 2;

      h2 {
        font-size: 2.5rem;
      }

      p {
        margin-top: 5px;
        font-size: 1.05rem;
        color: var(--white);
      }

      @media (max-width: 920px) {
        max-width: none;
      }
    }
  }

  @media (max-width: 720px) {
    height: 22rem;
    .content {
      height: 22rem;
    }
  }
  }

  //servicos

  .service {
    background-color: var(--pattern);
    

      .grid {
        max-width: 1240px; 
        margin: 0 auto;
        padding: 0 1rem;
    }

    h2 {
      height: 12rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.4rem;
    }

    span {
      display: flex;
      font-size: 42px;
      margin-left: 2px;
      color: #3772ff;
    }

    .ServiceContent {
      display: flex;
      flex-wrap: wrap;

      .list {
        border: solid rgb(37, 37, 37) 0.5px;
        flex:  1 1 250px;
        padding: 36px;
        line-height: 2;
        margin: 15px;
        transition: all 1s ease;

        h3 {
          margin-top: 10px;
          font-size: 1.4rem;
        }

        p {
          margin-top: 10px;
          font-size: 15px;
          opacity: 0.9;
        }
      }

      .list:hover{
        border: 1px solid #6610f2;
        transition: all 0.8s ease;
      }
    }
  }
}

//Projetos feitos

.project {
  background-color: var(--pattern);
  padding-bottom: 5rem;

    .grid {
      max-width: 1240px; 
      margin: 0 auto;
      padding: 0 1rem;
  }

  h2 {
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
  }

  span {
    display: flex;
    font-size: 42px;
    margin-left: 2px;
    color: #3772ff;
  }


  .Projectcontent {
    display: flex;
    flex-wrap: wrap;

    .list {
      border: solid rgb(37, 37, 37) 0.5px;
      flex:  1 1 250px;
      padding: 36px;
      line-height: 2;
      margin: 15px;
      transition: all 0.8s ease;

      h3 {
        font-size: 1.3rem;
        font-weight: 600;
      }

      p {
        font-size: 15px;
        opacity: 0.9;
      }

      &:hover {
       border: 1px solid #6610f2;
        transition: all 0.8s ease;
      }
    }
  }
}

//Amigos

.Frields {
  background-color: #110e1b;

    .grid {
      max-width: 1240px; 
      margin: 0 auto;
      padding: 0 1rem;
  }

  h2 {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
  }

   .span {
      display: flex;
      font-size: 42px;
      margin-left: 2px;
      color: #3772ff;
    }


  .content {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 80px;

    .frield {
      border-radius: 6px;
      flex: 1  1 150px; 
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 15px;
      padding: 32px;
      line-height: 2;

      background-image: linear-gradient(
        135deg,
        rgba(#272727, 0.35),
        rgba(#292929, 0.1) 15%,
        #1f2730 28%,
        #222222 100%
      );

      .image {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
          border: solid #2256cf 2px;
          display: flex;
          align-content: center;
          padding: 8px;
          border-radius: 60%;
          width: 140px;
	        height: 140px;
        }
      }

      span {
        font-size: 1.25rem;
        font-weight: 600;
      }

      p {
        margin-top: -0.2rem;
        font-size: 0.87rem;
        color: #7d8396;
      }

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 0.7rem;

        button {
          text-align: center;
          border-radius: 99em;
          height: 45px;
          padding: 0 1.205em;
          background-color: #3772ff;
          background-image: linear-gradient(135deg, #2256cf, #3772ff);
		      color: #fff;
          cursor: pointer;
        }

        .inst {
          display: flex;
          margin-left: 0.65rem;

        svg {
            font-size: 1.8rem;
            color: var(--white);
          }
        }
      }


      @media (max-width: 480px) {
        margin: 8px;
        padding: 12px 14px;

        .image {
          
          img {
            width: 90px;
            height: 90px;
          }
        }

        .span {
          font-size: 1rem;
        }

        .btn {
          width: 100%;

          button {
            height: 35px;
            padding: 0 0.484em;
            font-size: 0.9rem;
          }
        }

        svg {
          font-size: 1.5rem;
        }
      }



    }
  }
}

//conhecimentos

.knowledge {
  background-color: var(--pattern);
  padding-bottom: 3rem;
  

    .grid {
      max-width: 1240px; 
      margin: 0 auto;
      padding: 0 1rem;
  }

  h2 {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;

    .span {
      color: #3772ff;
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;

    *:focus,
    *:active {
      outline: none !important;
      -webkit-tap-highlight-color: transparent;
    }

    .wrapper {
      flex:  1 1 150px;
    }


    .wrapper .react {
      position: relative;
      border-radius: 8px;
      padding: 28px;
      margin: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-image: url(../../../public/images/stars.png);
      animation: snow 3s infinite linear;
    }
    
    .wrapper .tooltip {
      position: absolute;
      top: 0;
      font-size: 14px;
      background-color: #272727;
      color: #ffffff;
      padding: 5px 8px;
      border-radius: 5px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .wrapper .tooltip::before {
      position: absolute;
      content: "";
      height: 8px;
      width: 8px;
      background-color: #272727;
      bottom: -3px;
      left: 50%;
      transform: translate(-50%) rotate(45deg);
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .wrapper .react:hover .tooltip {
      top: -45px;
      opacity: 1;
      visibility: visible;
    }
    
    .wrapper .react:hover span,
    .wrapper .react:hover .tooltip {
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    }
    
    .wrapper #facebook:hover,
    .wrapper #facebook:hover .tooltip,
    .wrapper #facebook:hover .tooltip::before {
      color: #ffffff;
    }

    @keyframes snow {
      0% { background-position: 0 -400px; }
      100% { background-position: 0 0; }
    }

  }
}